html, body{
 height: 100vh;
}
body.myBody{
  background-color: #2f3236;
}

div.card-header{
  padding: 0;
  background-color: #000000;
}

div.card-body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #2f3236;
  text-align: center;
}

div.card{
  background-color: #2f3236;
  padding: 0;
  border: 0;
  border-radius: 0;
}

a.nav-link.text-white.navbar-text{
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

button.navbar-toggler.btn.btn-light{
  background-color: #D3D3D3;
}

.navbar-toggler-icon{
  background-color: #D3D3D3;
  border-radius: 5px;
}

ul{
  display: flex;
}

form.formContact{
  margin: 10px 0 10px;
}

h1.titleContact{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #2bd3d6;
  text-align: center;
  font-weight: bold;
  margin: 20px auto 30px;
}

p.copyrightOther{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #ffffff;
}

a {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
  color: #7791c9;
}

label.message.text-color{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #ffffff;
}

label.message.text-color.message-label {
  padding: 0 0 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: #ffffff;
}

textarea.resize{
  resize: both;
}

button.contactSendButton{
  color: #2bd3d6;
  background-color: #000000;
  border-color: #000000;
  font-family: 'Source Sans Pro', sans-serif;

}

.send_button {
  margin-top: 10px;
  border: 0;
  padding: 0 10px;
  color: #2f3236;
  font-weight: bold;
  font-size: 25px;
  background-color: #D3D3D3;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

button.contactSendButton:hover{
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

footer.card-footer{
  height: 56px;
}

footer.newColor{
  background-color: #000000;
}
